<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheet.css">
    <title>Takeaway</title>
  </head>
  <body>
    <h1>Takeaway</h1>
      <% @menu.dishes.each do |dish| %>
        <h3><%= dish[:name] %></h3>
        <div>£<%= '%.2f' % dish[:price] %></div>
        <button onclick="">Add to cart</button>
      <% end %>
  </body>
</html>
