body {
  background-color: grey;
}

.itemContainer {
  background-color: white;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 0.25em;
  height: 15em;
}

img {
  height: 100%;
  width: 20em;
}
