body {
  background-color: grey;
}

.itemContainer {
  position: relative;
  background-color: white;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 0.25em;
  height: 8em;
  overflow: hidden;
}

img {
  width: 100%;
}

.itemName {
  position: absolute;
  top: -0.3em;
  right: 2em;
  background-color: white;
}

.itemPrice {
  position: absolute;
  top: 3em;
  right: 3.5em;
  background-color: white;
}

.buyButton {
  position: absolute;
  top: 5em;
  right: 3.5em;
}
